@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d4d4d8;
  /* zinc-300 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a1a1aa;
  /* zinc-400 */
}

/* Dark Mode Scrollbar Overrides */
.dark ::-webkit-scrollbar-track {
  background: #0a0a0a;
}

.dark ::-webkit-scrollbar-thumb {
  background: #333;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #555;
}